<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UXL Autocomplete component/title></title>
    <script src="/demo/settings.js"></script>
    <script>
      document.addEventListener(
        "WebComponentsReady",
        function componentsReady() {
          document.removeEventListener("WebComponentsReady", componentsReady, false);
          var script = document.createElement("script");
          script.async = true;
          script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';
          var refScript = document.body.getElementsByTagName("script")[0];
          refScript.parentNode.insertBefore(script, refScript);
        },
        false
      );
    </script>
  </head>
  <body>
    <style>
		uxl-autocomplete::part(highlight) {
			color: orange !important;
		}
		
		uxl-autocomplete::part(track__list-item) {
			color: red;
		}
		
	</style>
    <script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
    <div>UXL-AUTOCOMPLETE demo</div>
    <div class="content" style="max-width:300px"></div>
  </body>
</html>
