.wrapper {
  display: flex;
  flex-direction: column;

  .input {
    outline: none;
    -webkit-appearance: none;
    border: 1px solid var(--uxl-autocomplete-border, #d8d8d8);
    border-radius: var(--uxl-autocomplete--border-radius, 4px);
    height: var(--uxl-autocomplete-height, 32px);
    padding: var(--uxl-autocomplete-padding, 8px);
    box-sizing: border-box;
    flex: 1 1 100%;
    font-size: var(--uxl-autocomplete-font-size, 12px);
    color: var(--uxl-autocomplete-color, #000000);
    font-weight: var(--uxl-autocomplete-font-weight, 500);
  }

  .track {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: var(--uxl-autocomplete-drop-down-border, 1px solid #d8d8d8);
    border-top: 0px;
    margin-top: -3px;
    box-sizing: border-box;
    padding: var(--uxl-autocomplete-drop-down-padding, 16px);

    &.hidden {
      display: none;
    }

    &__list {
      overflow-y: auto;
      max-height: var(--uxl-autocomplete-drop-down-list--max-height, 250px);

      &-item {
        padding: var(--uxl-autocomplete-drop-down-item-padding, 8px 0px);
        font-size: var(--uxl-autocomplete-drop-down-item-font-size, 12px);
        color: var(--uxl-autocomplete-drop-down-item-color, #000000);
        font-weight: var(--uxl-autocomplete-drop-down-font-weight, 500);
        cursor: pointer;
      }
    }

    .not-found {
      flex: 1 1 100%;
      padding: var(--uxl-autocomplete-not-found-padding, 8px 0px);
      font-size: var(--uxl-autocomplete-not-found-font-size, 12px);
      color: var(--uxl-autocomplete-not-found-color, #000000);
      font-weight: var(--uxl-autocomplete-not-found-font-weight, 500);
    }
  }
}
